// HTMLエレメントに対する設定
.global_root {
    background-color: white;
    main {
        h1 {
            font-size: 30px;
            color: #1a448f;
            margin-bottom: 10px;
        }

        h2 {
            color: #1a448f;
            margin-bottom: 5px;
        }

        p {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 29px;
            font-weight: 400;
            color:#535d60;
        }
    }

    span {
        display: inline-block;  /* 改行しない */
    }

    article {
        padding: 0 60px;
    }
}

// コンポーネント
.flex_container {
    display: flex;
}

.img_container {
    margin: auto 0;
    width: fit-content;

    img {
        width: 500px;
    }
}

.wave {
    width: 100%;
    vertical-align: bottom;
    background-color: white;
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

.square_button {
    padding: 7px 10px;
    margin: 10px 0;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;

    span {
        padding-left: 5px;
    }

    a {
        font-size: 17px;
        padding-left: 2px;
        text-decoration: none;
        color: white;
    }
}

.discord {
    background-color: #546cfc;
    margin-right: 30px;

    &:hover {
        background-color: #6e83fe;
    }
    
    svg {
        width: 30px;
        fill: white;
        vertical-align: middle;
    }
}

.github {
    background-color: #485c64;

    &:hover {
        background-color: #6a8691;
    }

    svg {
        width: 30px;
        fill: white;
        vertical-align: middle;
    }
}

.twitter {
    background-color: #20a4f4;

    &:hover {
        background-color: #5ab8f3;
    }

    svg {
        width: 29px;
        fill: white;
        vertical-align: middle;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) { 
    .img_container {
        width: 100%;

        img{
            width: 100%;
        }
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    main h1 {
        font-size: 25px;
    }
    
    main p {
        font-size: 14px;
        line-height: 23px;
    }

    article {
        padding: 0 20px;
    }
}

/* iphone8よりも小さな画面 */
@media screen and (max-width: 760px) {
    main h1 {
        font-size: 21px;
        margin-bottom: 8px;
    }

    main h2 {
        font-size: 18px;
    }
}

/*--------------------------------------------------------------
    MAIN VISUAL
--------------------------------------------------------------*/
#main_visual {
    background-color: #e8f2fb;
    display: flex;
    color: #1a448f;
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;

    #visual_title {
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-right: 0;
    }
    
    .large_title {
        width: fit-content;
    }
    
    .small_title {
        width: fit-content;
        font-size: 9px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .catchphrase {
        width: fit-content;
        padding-top: 15px;
    }
    
    #visual_img {
        margin: auto;
        margin-right: 5%;
        width: fit-content;
    }

    svg {
        width: 400px;
    }
}

.bottom_wave {
    position: absolute;
    background-color: white;
    z-index: 0;
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #main_visual {
        .large_title {
            font-size: 28px;
        }
        
        .small_title {
            font-size: 9px;
        }

        #visual_img {
            margin-right: 2%;
        }

        svg {
            width: 280px;
        }
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    #main_visual {
        flex-direction: column;

        #visual_title {
            margin: 0 auto;
            margin-top: 30px;
        }
        
        .large_title {
            font-size: 25px;
        }
        
        .small_title {
            font-size: 7px;
        }

        #visual_img {
            margin: 0 5% 0 auto;
        }
        
        svg {
            width: 200px;
            padding-top: 15px;
        }
    }
}

/* iphone8よりも小さな画面 */
@media screen and (max-width: 760px) {
    #main_visual #visual_title {
        width: 80%;
    }
}


/*--------------------------------------------------------------
    INFO TABLE
--------------------------------------------------------------*/
#info_table {
    max-width: 500px;
    /* border: 1px solid #ebebeb; */
    border-spacing: 0;

    th, td {
        border: .1px solid #e6e5e5;
        padding: 10px 0;
    }
    
    th {
        width: 120px;
        font-weight: 600;
        color: #1a448f;
        text-align: center;
        font-size: 14px;
    }
    
    td {
        padding: 10px 20px;
        font-size: 13px;
        color:#535d60;
    }
}

@media screen and (max-width: 1139px) {
    #info_table {
        min-width: 500px;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #info_table {
        min-width: 100%;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    #info_table {
        width: 100%;
    }
}


/*--------------------------------------------------------------
    ARTICLE 1
--------------------------------------------------------------*/
#article1 {
    width: fit-content;
    margin: 30px auto;
    position: relative;
    z-index: 1;
}

#section1 {
    max-width: 500px;
    margin-left: 60px;
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #article1 {
        flex-direction: column-reverse;
        position: relative;
        z-index: 1;
    }

    #section1 {
        max-width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    #article1 {
        margin: 30px 0;
    }

    #section1 {
        margin-left: 0;
    }
}


/*--------------------------------------------------------------
    ARTICLE 2
--------------------------------------------------------------*/
#article2 {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#section2 {
    max-width: 500px;
    margin-right: 60px;
}


/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #article2 {
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    #section2 {
        max-width: 100%;
        margin-bottom: 25px;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    #section2 {
        width: 100%;
    }
}


/*--------------------------------------------------------------
    ARTICLE 3
--------------------------------------------------------------*/
#article3 {
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f3f4f5;

    .img_container {
        margin: auto;
        margin-right: 0;
        width: fit-content;
    }

    #text_mining {
        width: 800px;
    }
}

#section3 {
    position: absolute;
    top: 60px;
    max-width: 450px;
    padding: 25px 30px;
    background-color: white;

    h1 {
        margin-bottom: 3px;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #article3 {
        .img_container {
            margin: 0;
            width: fit-content;
        }

        #text_mining {
            width: 100%;
        }
    }

    #section3 {
        max-width: 100%;
        padding: 15px 20px;
        margin-bottom: 30px;
        position: static;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {

}


/*--------------------------------------------------------------
    ARTICLE 4
--------------------------------------------------------------*/
#article4 {
    padding: 30px auto;
    background-color: #f3f4f5;
}

#section4_left {
    width: 600px;
    margin: 0 auto auto 0;
}

#section4_right {
    width: 600px;
    margin: auto auto auto 0;

    .flex_container{
        margin-top: 10px;
        flex: 0 0 auto;
        flex-wrap: wrap;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #article4 {
        flex-direction: column;
    }

    #section4_left {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    #section4_right {
        width: 100%;
        margin: 0;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {

}


/*--------------------------------------------------------------
    ARTICLE 5
--------------------------------------------------------------*/
#article5 {
    background-color: #f3f4f5;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

.swiper_wrapper {
    margin: 10px auto 30px auto;
}

.swiper_slide {
    display: flex;
    background-color: white;

    .img_container{
        width: fit-content;
        margin: 0;
        padding: 20px;

        img {
            max-width: none;
        }
    }

    section {
        max-width: 100%;
        padding: 20px 45px 20px 0;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    .swiper_slide{
        flex-direction: column;
        section {
            height: fit-content;
            padding: 0 20px 20px 20px;
        }
    }

    .swiper_button_prev {
        top: 55%;
    }
    
    .swiper_button_next {
        top: 55%;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    .swiper_button_prev {
        display: none;
    }
    
    .swiper_button_next {
        display: none;
    }
}